@import url('https://fonts.googleapis.com/css?family=Lakki+Reddy');

.cardTitle{
    color: #35C9DD;
    text-align: center;
    font-size: 60px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-family: 'Lakki Reddy', cursive;
}

.content{
    padding-top: 75px;
}